@import "static/variables";
@import "static/mixins";

.brand{
     &__list{
          @include flex();
          gap: 100px;
          &:last-child{
               padding-top: 100px;
               flex-direction: row-reverse;
          }
     }
     &__part{
          &:first-child{
               width: 40%;
          }
          &:last-child{
               width: 60%;
          }
     }
     &__img{
          width: 100%;
     }
     &__title{
          @include text(30px, 40px, 500, $black);
          margin-bottom: 48px;
     }
     &__text{
          @include text(21px, 28px, 500, $black);
          &:nth-child(even){
               margin-bottom: 32px;
          }
     }
}