@import "static/variables";
@import "static/mixins";

.item{
     &__list{
          @include flex(flex-start, center);
          gap: 100px;
     }
     &__part{
          &:first-child{
               width: 40%;
          }
          &:last-child{
               width: 60%;
          }
     }
     &__img{
          width: 100%;
     }
     &__price{
          @include text(40px, 44px, 500, $darkGray);
          margin-bottom: 60px;
          s{
               margin-left: 30px;
               @include text(30px, 33px, 500, $darkenGray);
          }
     }
     &__choose{
          @include text(20px, 140%, 500, $black);
          margin-bottom: 32px;
     }
     &__size{
          &-list{
               @include flex(flex-start, center);
               gap: 16px;
               margin-bottom: 60px;
          }
          &-item{
               width: 44px;
               height: 44px;
               border: 1px solid $black;
               @include text(17px, 24px, 500, $black);
               display: flex;
               justify-content: center;
               align-items: center;
               transition: 0.3s ease;
               &:hover{
                    background: $black;
                    color: white;
                    cursor: pointer;
               }
          }
     }
     &__colors{
          &-list{
               @include flex(flex-start, center);
               gap: 16px;
               margin-bottom: 60px;
               .brown{
                    background: $brown;
               }
               .gray{
                    background: $gray;
               }
               .pink{
                    background: $pink;
               }
               .orange{
                    background: $orange;
               }
          }
          &-item{
               width: 40px;
               height: 40px;
               border-radius: 100%;
               transition: 0.3s ease;
               &:hover{
                    opacity: 0.75;
                    cursor: pointer;
               }
          }
     }
     &__cart{
          &-list{
               @include flex(flex-start, center);
               gap: 12px;
          }
          &-input{
               height: 70px;
               width: 70px;
               border: 1px solid $blue;
               @include text(20px, 28px, 400, $black);
               text-align: center;
          }
     }
}

.active{
     &-color{
          border: 1.5px solid $black;
     }
     &-size{
          background: $black;
          color: white;
     }
}