@import "static/variables";
@import "static/mixins";

.header{
     background: linear-gradient(to right, white 56%, $beige 44%);
     height: 100vh;
     .container{
          height: calc(100% - 133px);
     }
     &__list{
          height: 100%;
          @include flex();
     }
     &__part{
          &:first-child{
               width: 50%;
          }
          &:last-child {
               height: 100%;
               width: 45%;
          }
     }
     &__img{
          position: relative;
          width: 100%;
          height: 100%;
          img{
               &:nth-child(1) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 75%;
               }
               &:nth-child(2) {
                    position: absolute;
                    right: -15%;
                    top: 15%;
                    width: 33%;
               }
               &:nth-child(3) {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 40%;
               }
          }
     }
     &__item{
          &-show{
               display: block !important;
          }
          &-fade {
               animation: fade 1s ease;
          }
          display: none;
          &-block{
               width: 65%;
               display: flex;
               flex-direction: column;
               align-items: flex-end;
          }
          &-btn{
               display: flex;
               &-part{
                    transition: 0.35s ease;
                    &:first-child{
                         background: $light;
                         color: $blue;
                         @include flex(center, center);
                         padding: 0 28px;
                         img{
                              transition: 0.35s ease;
                         }
                    }
                    &:last-child{
                         padding: 22px 50px;
                         background: $blue;
                         color: white;
                    }
               }
               &:hover{
                    .header__item-btn-part{
                         &:first-child{
                              img{
                                   transform: rotate(-90deg);
                              }
                         }
                         &:last-child{
                              background: $light;
                              color: $blue;
                         }
                    }
               }
          }
          h1{
               @include text(60px, 70px, 500, $black);
               margin-bottom: 50px;
          }
          p{
               @include text(24px, 32px, 400, $black);
               margin-bottom: 60px;
               text-align: right;
          }
     }
     &__slider{
          &-dots {
               margin-top: 120px;
               @include flex(center, center);
               gap: 8px;
               .active{
                    background: $black;
               }
          }
          &-dot {
               width: 30px;
               height: 4px;
               background: $gray;
               transition: 0.2s ease;
               &:hover{
                    cursor: pointer;
                    background: rgba($gray, 0.65);
               }
          }
     }
}


@keyframes fade {
     from {
          opacity: 0;
     }
     to {
          opacity: 1;
     }
}



.important{
     &__list{
          @include flex(space-between, flex-start);
          gap: 90px;
     }
     &__item{
          @include flex(flex-start, flex-start);
          flex-direction: column;
          &-img{
               width: 80px;
               margin-bottom: 36px;
          }
          &-title{
               @include text(25px, 35px, 500, $black);
               margin-bottom: 24px;
          }
          &-text{
               @include text(17px, 24px, 500, $black);
          }
     }
}

.team{
     &__list{
          @include flex();
     }
     &__part{
          &:first-child{
               width: 65%;
          }
          &:last-child{
               width: 25%;
          }
          &-title{
               @include text(25px, 35px, 500, $black);
               margin-bottom: 28px;
          }
          &-text{
               @include text(17px, 24px, 500, $black);
               margin-bottom: 28px;
          }
          &-link{
               @include text(17px, 24px, 500, $blue);
               &:hover{
                    text-decoration: underline;
               }
          }
     }
     &__slider{
          position: relative;
          
          &-wrapper{
               position: relative;
               overflow: hidden;
               width: 100%;
               height: 100%;
          }
          &-container{
               display: flex;
               width: 300%;
               height: 100%;
               transition: 0.6s ease;
          }
          &-item{
               width: calc(100%/3);
               height: 100%;
               img{
                    width: 100%;
                    height: 100%;
               }
          }
          &-arrow{
               position: absolute;
               top: calc(50% - 12px);
               width: 48px;
               &-left{
                    left: -72px;
               }
               &-right{
                    right: -72px;
               }
          }
          &-dots{
               position: absolute;
               bottom: 20px;
               left: calc(50% - 58px);
               @include flex(center, center);
               gap: 8px;
               .active{
                    background: white;
               }
          }
          &-dot{
               width: 30px;
               height: 4px;
               background: rgba(white, 0.6);
               transition: 0.2s ease;
               &:hover{
                    cursor: pointer;
                    background: rgba(white, 0.85);
               }
          }
     }
}