@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "static/variables";
@import "static/mixins";
@import url('../css/reset.css');

*{
     font-family: 'Raleway', sans-serif;
}

.container{
     width: 1440px;
     margin: 0 auto;
}

.nav{
     padding: 54px 0;
     .container{
          @include flex();
     }
     .phone{
          @include text(18px, 24px, 400, $black);
          i {
               transform: rotate(45deg) scale(-1, 1);
               color: $blue;
               margin-right: 16px;
          }
     }
     &__part{
          &:nth-child(2) {
               @include flex(center, center);
               gap: 50px;
          }
          &:nth-child(3) {
               @include flex(flex-end, center);
               gap: 60px;
          }
     }
     &__link{
          @include text(18px, 24px, 400, $black);
          letter-spacing: 0.02em;
          transition: 0.3s ease;
          &:hover{
               color: $blue;
          }
     }
}

section{
     padding-top: 150px;
     &:last-child{
          padding-bottom: 150px;
     }
}

.section{
     &__title{
          @include text(40px, 110%, 500, $black);
          padding-bottom: 100px;
     }
     &__btn{
          margin-top: 80px;
          padding: 22px 50px;
          border: 1px solid $blue;
          @include text(17px, 140%, 400, $blue);
          transition: 0.3s ease;
          &:hover{
               background: $blue;
               color: white;
          }
          &-block{
               @include flex(center, center);
          }
     }
}